/* Agrupamento e espaçamento dos botões na direita */
.acoes-botoes {
    display: flex;
    gap: 10px; /* Espaço entre um botão e outro */
}

/* Estilo geral dos botões */
button {
    border-style: none;
    border-radius: 12px;
    padding: 10px 18px;
    background-color: #6a2387;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #6b006b; /* Fica um pouco mais escuro ao passar o mouse */
}
/* Estilo do botão dentro do Card */
.btn-detalhes {
    margin-top: 12px;
    width: 100%;
    padding: 8px 10px;
    font-size: 11px;
    border-radius: 8px;
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #333333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: background-color 0.2s ease;
}

.btn-detalhes:hover {
    background-color: #6a2387; /* Roxo ao passar o mouse */
}
